@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<!--Carrusel-->
    <div class="carousel-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn.pixabay.com/photo/2020/02/03/10/02/sports-car-4815234_1280.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1>Alquiler de Vehículos</h1>
                        <p>La mejor selección de autos para tu comodidad</p>
                        <button type="button" class="btn btn-primary btn-lg">Reserva ya!</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1>Alquiler de Vehículos</h1>
                        <p>La mejor selección de autos para tu comodidad</p>
                        <button type="button" class="btn btn-primary btn-lg">Reserva ya!</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1>Alquiler de Vehículos</h1>
                        <p>La mejor selección de autos para tu comodidad</p>
                        <button type="button" class="btn btn-primary btn-lg">Reserva ya!</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/20345033/pexels-photo-20345033/free-photo-of-ciudad-puesta-de-sol-calle-edificios.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1>Alquiler de Vehículos</h1>
                        <p>La mejor selección de autos para tu comodidad</p>
                        <button type="button" class="btn btn-primary btn-lg">Reserva ya!</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1>Alquiler de Vehículos</h1>
                        <p>La mejor selección de autos para tu comodidad</p>
                        <button type="button" class="btn btn-primary btn-lg">Reserva ya!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


